<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>Public Transit Fleet Management System</display-name>
    <!-- Front Controller Servlet Configuration -->
   
    <servlet>
        <servlet-name>TransitFrontController</servlet-name>
        <servlet-class>ViewLayer.TransitFrontController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterVehicle</servlet-name>
        <servlet-class>ViewLayer.RegisterVehicle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransitMenuView</servlet-name>
        <servlet-class>ViewLayer.TransitMenuView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignRoutes</servlet-name>
        <servlet-class>ViewLayer.AssignRoutes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogTime</servlet-name>
        <servlet-class>ViewLayer.LogTime</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewVehicles</servlet-name>
        <servlet-class>ViewLayer.ViewVehicles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegistration</servlet-name>
        <servlet-class>ViewLayer.UserRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewVehicleTimestamp</servlet-name>
        <servlet-class>ViewLayer.ViewVehicleTimestamp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaintenanceRequest</servlet-name>
        <servlet-class>ViewLayer.MaintenanceRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMaintenanceRequest</servlet-name>
        <servlet-class>ViewLayer.AddMaintenanceRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMaintenanceRequest</servlet-name>
        <servlet-class>ViewLayer.UpdateMaintenanceRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaintenanceRequestDashboard</servlet-name>
        <servlet-class>ViewLayer.MaintenanceRequestDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaintenanceRequestCostReport</servlet-name>
        <servlet-class>ViewLayer.MaintenanceRequestCostReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaintenanceRequestCompletionReport</servlet-name>
        <servlet-class>ViewLayer.MaintenanceRequestCompletionReport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransitFrontController</servlet-name>
        <url-pattern>/TransitFrontController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterVehicle</servlet-name>
        <url-pattern>/RegisterVehicle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransitMenuView</servlet-name>
        <url-pattern>/TransitMenuView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignRoutes</servlet-name>
        <url-pattern>/AssignRoutes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogTime</servlet-name>
        <url-pattern>/LogTime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewVehicles</servlet-name>
        <url-pattern>/ViewVehicles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegistration</servlet-name>
        <url-pattern>/UserRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewVehicleTimestamp</servlet-name>
        <url-pattern>/ViewVehicleTimestamp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaintenanceRequest</servlet-name>
        <url-pattern>/MaintenanceRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMaintenanceRequest</servlet-name>
        <url-pattern>/AddMaintenanceRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMaintenanceRequest</servlet-name>
        <url-pattern>/UpdateMaintenanceRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaintenanceRequestDashboard</servlet-name>
        <url-pattern>/MaintenanceRequestDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaintenanceRequestCostReport</servlet-name>
        <url-pattern>/MaintenanceRequestCostReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaintenanceRequestCompletionReport</servlet-name>
        <url-pattern>/MaintenanceRequestCompletionReport</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
