<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>Public Transit Fleet Management System</display-name>
    <!-- Front Controller Servlet Configuration -->
    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>ViewLayer.FrontController</servlet-class>
    </servlet>
    <!-- Servlet Mapping for Front Controller -->
    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/FrontController-URL</url-pattern>
    </servlet-mapping>

    <!-- Login Servlet Configuration -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>ViewLayer.LoginServlet</servlet-class>
    </servlet>
    <!-- Servlet Mapping for Login -->
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet-URL</url-pattern>
    </servlet-mapping>
    
    <!-- View Vehicles (all) Servlet Configuration -->
    <servlet>
        <servlet-name>ViewVehicles</servlet-name>
        <servlet-class>ViewLayer.ViewVehicles</servlet-class>
    </servlet>
    <!-- Servlet Mapping for View Vehicles -->
    <servlet-mapping>
        <servlet-name>ViewVehicles</servlet-name>
        <url-pattern>/ViewVehicles-URL</url-pattern>
    </servlet-mapping>
    
    <!-- View Vehicle (single) Servlet Configuration -->
    <servlet>
        <servlet-name>ViewVehicle</servlet-name>
        <servlet-class>ViewLayer.ViewVehicle</servlet-class>
    </servlet>
    <!-- Servlet Mapping for View Vehicle -->
    <servlet-mapping>
        <servlet-name>ViewVehicle</servlet-name>
        <url-pattern>/ViewVehicle-URL</url-pattern>
    </servlet-mapping>
    
    <!-- Register (add) Vehicle Servlet Configuration -->
    <servlet>
        <servlet-name>RegisterVehicle</servlet-name>
        <servlet-class>ViewLayer.RegisterVehicle</servlet-class>
    </servlet>
    <!-- Servlet Mapping for Register Vehicle -->
    <servlet-mapping>
        <servlet-name>RegisterVehicle</servlet-name>
        <url-pattern>/RegisterVehicle-URL</url-pattern>
    </servlet-mapping>
    
    <!-- Remove (delete) Vehicle Servlet Configuration -->
    <servlet>
        <servlet-name>RemoveVehicle</servlet-name>
        <servlet-class>ViewLayer.RemoveVehicle</servlet-class>
    </servlet>
    <!-- Servlet Mapping for Remove Vehicle -->
    <servlet-mapping>
        <servlet-name>RemoveVehicle</servlet-name>
        <url-pattern>/RemoveVehicle-URL</url-pattern>
    </servlet-mapping>
    
    <!-- Welcome File List -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <!-- Session Configuration -->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
